body{
    font-family: ariel;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.hoje{
    color: darkred;
}

.amanha{
    color: darkblue;
}

h2 a{
    color: seagreen;
}

p{
    font-size: 20px;
}